*,*::before,*::after{

box-sizing: border-box;
font-family:"Montserrat",sans-serif;   
color:white;
font-size: normal;
font-weight:bold;   
}

body{
    padding:0;
    margin:0;
    /* background-color: #dbf1f5; */
    background-image: -webkit-linear-gradient(295deg, #dbf1f5 50%, #1e2435 50%);
    max-width: 100%;
    height: auto;
}
button{
    border-radius:7%;
}

.calculator-grid{
    display: grid;
justify-content:center;
align-content:center;
min-height:100vh;
grid-template-columns: repeat(4,80px);
grid-template-rows:minmax(80px,auto ) repeat(6,80px);
/* row-gap: 5px; */
/* column-gap:5px; */
/* background-color:  #2c2e39; */
}

.calculator-grid>button{
background-color: #1e2435;
outline:none;
cursor: pointer;
font-size:1.9rem;
border:solid 1px black;
}

.calculator-grid>.operator{
    background-color:#52c9dc;

}

.calculator-grid>button:hover{  
    background-color: white;
    color:black;
}

.dark-mode{
    background-color: #1e2435;
    color : black;
}

.icon-button {  
border:none;
background:none;
/* padding:0; */
/* background-image:url(darkMode.svg); */
height: 50px;
width:50px;
 position: absolute;
right:50px;
top:20px;
}

.fa-solid{                    

    
}

.span-two{
    grid-column: span 2;
}


/* grid practice  */
/* .calculator-grid{
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    /* grid-template-columns:repeat(4,400px);
    /* grid-template-rows:200px 500px;  */ 
    /* grid-template-rows: repeat(4 , 200px); */
    /* grid-auto-rows: minmax(100px,auto);   */
/* grid-template-areas: "header header"; */ 
/* }*/

   
 .calculator-grid >.previous-operand ,.current-operand{
grid-column:1 /-1;
background-color: black;
display: flex;
align-items: flex-end;
justify-content: space-around;
flex-direction: column;
padding:10px;
word-wrap: break-word;
word-break:break-all
}

.previous-operand{
    font-size:1.5rem;
    color:rgb(255, 255, 255,.75);

}
.current-operand{
    color:white;
    font-size: 2.5rem;
}

